<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js e Express</title>
</head>
<body>
    <nav>
        <a href="/"> Inicio</a> |<a href="/sobre">Sobre</a> | <a href="/contato">Contato</a>
    </nav>
    <h1>Bem vindo a aplicação cp, NodeJs e Express</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, excepturi fugit molestiae similique placeat unde ducimus quisquam voluptates ut officia rerum, quos in ad nostrum, tempora aperiam praesentium nesciunt voluptatum!</p>
</body>
</html>